
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h2,h1 {
    color: #333;
    text-align: center;
    /* margin-bottom: 20px; */
  }
  
  h3 {
    color: #555;
    /* margin-top: 30px; */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  label {
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
  }
  
  input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left: 10px;
  }
  
  input[type="number"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left: 19px;
  }
  
  button {
    background-color: #1e7932;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Success message */
  div[style] {
    margin-top: 20px;
    font-weight: bold;
  }
  
  /* User list styles */
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li span {
    font-weight: bold;
  }
  